<div ng-controller='dashboardsController'>
  <h1>Welcome to the BLACK BELT Dashboard</h1>
  Welcome, {{user.name}}
  <form>
    Title:<input type="text" ng-model='newTrip.title' placeholder='Title...'>
    Description:<input type="text" ng-model='newTrip.description' placeholder='Description...'>
    <select name="" id="" ng-model='newTrip.friend'>
      <option
        ng-repeat='login in logins'
        value="{{login.name}}">
        {{login.name}}
      </option>
    </select>
    <input type="hidden" ng-value='newTrip.UserId = user._id'>
    <input type="hidden" ng-value='newTrip.name = user.name'>
    <input type="submit" ng-click='addTrip()' value="Add To List">
  </form>
<hr>
<h4>Before I die I want to...</h4>
<p ng-repeat='trip in trips'>
  <input type="checkbox">
  {{trip.friend}} | {{trip.title}} - {{trip.description}}...- {{trip.created | date:'MMMM dd, yyyy'}}
</p>
<hr>
<h4>List of other user (CLICK TO VIEW PROFILE)</h4>

<ul>
  <li ng-repeat='login in logins'>
    <a href="#/partial3/{{login._id}}">{{login.name}}</a>
  </li>
<ul>
</div>
